<div class="">
  <ul class="">
  <%@tweets.each do |tweet|%>
    <li><%= tweet.image %></li>
    <li><%= tweet.name %></li>
    <li><%= tweet.drink_name %></li>
    <li><%= tweet.custom_name %></li>
  <% end %>
  </ul>
</div>
